:root {
  --accent-color: #00acdc;
}

.page {
  font-family: Roboto, sans-serif;
}

.page__body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
}

.logo {
  display: flex;
}

.logo__image {
  display: block;
  width: 40px;
  height: 40px;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  margin-right: 20px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--accent-color);
}

.is-active {
  color: var(--accent-color);
}

.is-active::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 8px;
}
